.main {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.button {
  display: inline-block;
  border: 1px solid var(--color-secondary);
  border-radius: 999px;
  padding: 0 16px;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

span.button:first-child {
  margin-left: 50px;
}

.wrapper-main {
  display: flex;
  position: relative;
  height: 100vh;
  align-items: center;
}

.container-images {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.bloc-image {
  position: absolute;
}

.image-1 {
  bottom: 0;
}

.image-2 {
  top: 50%;
}

.image-3 {
  top: 10%;
}

.image-4 {
  top: 0;
}

.image-gif {
  display: block;
  z-index: -1;
  width: 100%;
  height: 100%;
}
